*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
}

ul{
    list-style: none;
    text-decoration: none;
}
a{
    text-decoration: none;
}


body{
    background-color: #171c30;
    height: 100vh;
    font-family: "Roboto", sans-serif;
    color: #fff;

}

.flex{
    display: flex;
}
.interface{
    max-width: 1280px;
    margin: 0 auto;
}

.titulo{
    text-align: center;
    padding: 10px;
}
.titulo{
    text-align: center;
    color: #fff;
    font-size: 35px;
    margin-bottom: 50px;
}
.titulo span{
    color: #0ef;
}