@font-face {
    font-family: MorrisR;
    src: url(/src/fonts/MorrisRomanBlackAlt.otf) format("opentype"), url(/src/fonts/MorrisRomanBlackAlt.ttf) format("truetype");
    font-weight: normal;
    font-style: normal;


/* ESTILO DO CABEÇALHO */
}

header{
    padding: 20px 4%;
}

/* SÓ A CLASSE INTERFACE DENTRO DO HEADER */
header > .interface{
    display: flex;
    align-items: center;
    justify-content: space-around;
    box-shadow: rgba(0, 0, 0, 0.45) 0px 25px 20px -20px;

}

header nav a{
    display: inline-block;
    position: relative;
    color: #fff;
    font-size: 14px;
    transition: .3s;
    font-family: "Skranji", system-ui;

}

header nav ul li{
    display: inline-block;
    padding: 0 40px;
}

header nav a:hover {
    color: #0ef;
    transform: scale(1.1);
}
header nav a span {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
    border-bottom: 3px solid #0ef;
    border-radius: 15px;
    transform: scale(0) translateY(50px);
    opacity: 0;
    transition: .2s;
}

nav a:hover span {
    transform: scale(1.2) translateY(0);
    opacity: 1;
}

/* ESTILO A HOME */

section.home{
    padding: 20px 4%;
    height: calc(100vh - 100px); /* - A ALTURA DO CABECALHO */
    background: linear-gradient(180deg, #171D30, #1D6B87);

}

section.home .flex{
    align-items: center;
    justify-content: center;
    gap: 100px;
    margin-top:100px;

}
.home .informacoes h1 {
    color: #fff;
    font-family: MorrisR;
    font-size: 60px;
    line-height: 80px;
    text-shadow: 0 0 5px cyan,
        0 0 5px cyan;



}

.home .informacoes h2 {
    font-size: 28px;
    margin-bottom: 20px;
    font-family: "Skranji", system-ui;
    color: #fff;
    text-shadow: 0 0 5px #000;

}

.home .redes-sociais {
    margin-top: 40px;
    display: flex;
    gap: 15px;

}

.home .redes-sociais a {
    border: 2px solid #0ef;
    border-radius:50%;
    width: 40px;
    height: 40px;
    padding: 10px;
    text-align: center;
    font-size: 20px;
    color: #0ef;
}

.home .redes-sociais a:hover {
    background-color: #0ef;
    color: #000;
    border: 2px solid #000;
    box-shadow: 0 0 15px #0ef;

}

.home .ft-perfil .foto{
    max-width: 300px;
    border-radius: 50%;
    box-shadow: 0 0 2.5px cyan,
                0 0 12.5px cyan,
                0 0 25px cyan,
                0 0 50px #000,
                0 0 30px cyan;
    position: relative;
    animation: flutuar 1s  ease-in-out infinite alternate;

}

.home .ft-perfil .foto img{
    max-width: 100%;
    
}
@keyframes flutuar{
    0%{
        top: 0;
    }
    100%{
        top: 5px;
    }
}

/* ESTILIZANDO QUEM SOU EU(ABOUT-ME) */
section.about-me{
    padding: 20px 4%;
    height: 100vh;
    background-color: #1D6B87;
}

.about-me .flex{
    margin-top: 100px;
}

@keyframes slide {
    from{
        transform: translateX(0);
    }
    to{
        transform: translateX(-100%);

    }
}
.tecnologias{
    overflow: hidden;
    padding: 40px 0;
    white-space: nowrap;
    position: relative;
    cursor: pointer;
    box-shadow: rgba(0, 255, 255, 0.5) 0px 25px 10px -20px;
}
.tecnologias::before,
.tecnologias::after{
    position: absolute;
    top: 0;
    width: 200px;
    height: 100%;
    content: "";
    z-index: 2;
}
.tecnologias::before{
    left: 0;
    background: linear-gradient(to left, rgba(23,28,48,0), #1D6B87);
}

.tecnologias::after{
    right: 0;
    background: linear-gradient(to right, rgba(23,28,48,0), #1D6B87);
}

.tecnologias:hover .tec-slide{
animation-play-state: paused;

}
.tec-slide{
    display: inline-block;
    animation: 30s slide linear infinite  ;
}
.tec-slide img{
    height: 70px;
    margin: 0 20px;

}
.tec-slide img:hover{
    transform: scale(1.5);
    
}
.gif-me{
    height: 350px;
}
.txt-sobre{
    font-size: 22px;
    /* font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif; */
    font-family:"Poppins", sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    line-height: 30px;
}
.span-txt-sobre{
    color: #000;

    font-family: "Skranji", system-ui;
    font-size: 50px;
    text-shadow: 0 0 5px cyan,
    0 0 5px cyan;
}
.span-tec{
    color: #000;
    font-family: "Skranji", system-ui;

    text-shadow: 0 0 5px cyan,
    0 0 5px cyan;
}
.about-me h3{
    font-family: "Poppins", sans-serif;
    color: #000;
    font-size: 20px;
    text-shadow: 0 0 5px cyan,
    0 0 5px cyan;

}

/*  */

section.especialidades{
    padding: 20px 4%;
    height: 100vh;
    background-color: #1D6B87;

}

 

section.projects{
    padding: 20px 4%;
    height: 100vh;
    background: #171D30;
}


section.contacts{
    padding: 20px 4%;
    height: 100vh;
    background: #171D30;
    background: linear-gradient(0deg, #171D30, #1D6B87);

}